

<!-- Updated for Lab Final Exam -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <h1>Featured Products</h1>
    <ul>
        <% featuredProducts.forEach(product => { %>
            <li>
                <a href="/products/<%= product._id %>"><%= product.name %></a>
                - <%= product.description %> - $<%= product.price %>
            </li>
        <% }) %>
    </ul>
</body>
</html>


